* {
    box-sizing: border-box
}

/* body{
    background-image: url('../img/tetris-back.png');
    width: 100%;
    font-family: Arial,sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
} */

 /* Config de alinhamento do form */
.form{
    width: 100%;
    margin-top: 3px;
    margin-bottom: 7px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
    border-radius: 5px;
}

 /* Alinhando o logo do header */
header {
    text-align: center;
}

 /* Sistema de rolling do logo */
.rolling:hover{
    transform: rotate(180deg);
}

/* Configuração da div container */
fieldset{
    font-family: Arial,sans-serif;
    background-color: #fffafa;
    left: 50%; 
    margin: -220px 0 0 -210px; 
    padding:15px;
    position: absolute; 
    top: 60%;
    border-radius: 15px;
    width: 400px; 
    text-align: left;

}

/* Estilo do botão de cadastrar */
.cadastrar {
    background-color: #3d9db3;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 20px 10px;
    margin: 0;
    border: 1px solid #fff;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    text-shadow: 0 1px 1px #333;
    opacity: 0.9;
}

/* Alterando a opacidade do botão de registrar quando o mouse é passado em cima */
.cadastrar:hover {
  opacity:1;
}
.cadname{
    text-align: center;
    color: #066a75;
}

.row{
    display: flex;
}

.field{
    width: 100%;
    margin: 0 5px;
}

