
.conteudo { 
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 59px; /* Header Height */
    bottom: 20px; /* Footer Height */
    width: 100%;
}

.tela-principal, .info{
    background-color: lightgray;
    border: solid 5px goldenrod;
    border-radius: 30px;
    padding: 10px;
    box-shadow: inset -1px 1px 11px 0px black;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tela-principal{
    width: 70%;
    height: 155%;
    margin-left: 10px;
    margin-right: 5px;
    justify-content: center;
    display: flex;
}

.info{
    width: 30%;
    height: 155%;
    margin-right: 10px;
    margin-left: 5px;
    padding-top: 15px;
    display: block;
    align-items: center;
}

#jogo{
    margin: auto;
    width: 200px;
    height: 400px;
    /* background-image: url('../img/tetris-simulacao.png'); */
    background-color: lightgray;
    border: solid 2px rgb(4, 40, 241);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.item-info{
    width: 100%;
    margin: 5px 0px;
}

 /*
.ext-jogo{
    border: solid 7px goldenrod;
    box-shadow: -4px 5px 18px 0px black;
    border-radius: 17px;
    margin: auto;
    width: 204px;
    height: 404px;
}
*/

.tabela-info{
    margin-top: 5px;
}

.posicao{
    margin:auto;
    font-size: 50px;
}

.botao{
    border-radius: 1rem;
    margin: 0px 15px;
    color: white;
    height: 30px;
}
.botao-tam{
    border-radius: 1rem;
    margin: 0px 15px;
    color: white;
    height: 30px;
    background-color: black;
}

.botao-pausar{
    background-color: red;
}
.botao-iniciar{
    background-color: green;
}

.menu-botao{
    display: flex;
    justify-content: center;
}

.quadrado {
    height: 18px;
    width: 18px;
    background-color: red;
    border: solid 1px black
}

.quadrado-nao-preenchido{
    background: none;
    border: none;
    margin: 1px;
}

.quadrado-preenchido{
    background-color: seagreen;
}

.quadrado-especial{
    background-color: blue;
}

h2{
    font-size: 17px;
}

#elemento-atual{
    z-index: 100;
    position: relative;
}

.escondido{
    display: none;
}
