/*  Guilherme Rodrigues  RA:198414
Estilo CSS tela de login
*/

header {
    /* text-align: center;
     height: 50px; width:100%;
    font-family: monospace ;
    font-size: 40px;
    color: #00b7e0;    
    color: #d5e0ff; text-shadow: #000000 0.1em 0.1em 0.2em     */
    
     
      text-align: center;
     
 

}

.rolling:hover{
  
  transform: rotate(180deg);


}


footer {
    background-color: dodgerblue;
    text-align: center;
    position:absolute;
    bottom:0;
    width:99.5%;
}

body{
background-image:url('imagens/tetris.png') ;width:100%;
/* background-image: url('imagens/imagem.gif') ;  */ 


  
 
    background-size: cover;
   /*  filter: brightness(50%); */
    

}




.enter
    {
        width: 100%;
        cursor: pointer;  
        background: #3d9db3;
        padding: 8px 5px;
        color: #fff;
        font-size: 20px;  
        border: 1px solid #fff;   
        margin-bottom: 10px;  
        text-shadow: 0 1px 1px #333;
        
       
        border-radius: 5px;
        
        transition: all 0.2s linear;
      }

label{
        color: #405c60;
        position: relative;
      }


.form {

width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #b2b2b2;
  
  
  border-radius: 3px;
  
  
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  
  transition: all 0.2s linear;
}

fieldset{
    font-family: Arial,sans-serif;
    background-color: #fffafa;
    left: 50%; 
                margin: -220px 0 0 -210px; 
                padding:10px;
                position: absolute; 
                top: 50%;
                border-radius: 15px;

                height: 450px; width: 400px; text-align: center;

}


.login1{
    font-size: 30px;
    color: #066a75;  
    font-family: Arial,sans-serif;    
    text-align: center;    
  }

  .login,.senha {

    text-align: left;
  }

 